@import url('https://fonts.googleapis.com/css?family=Alatsi|Bebas+Neue|Roboto&display=swap');
html, body{margin: 0; padding: 0}

header{
    height: 100vh;
    width: 100%;
}
nav{
    position: absolute;
    width: 100%;
    line-height: 75px;
    top: calc(50% - 37.5px);
    text-align: center;
    margin: auto;
}
ul{
    text-align: center;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    color: #3A878D;
    font-weight: 900;
    letter-spacing: 5px;
    
}
h2{
    font-family: 'Alatsi', sans-serif;
    margin: 0;
    color: #FDE2AD;
    letter-spacing: 7px;
    text-shadow: #F2A03D 2px 4px;
}
h3{
    font-family: 'Bebas Neue', cursive;
    color: #D95B5B;
    text-shadow: #3A878D 2px 3px
}
article > p{
    margin: 15px;
}
p{
    font-family: 'Roboto', sans-serif;
}
img{
    width: 570px;
    transition: .3s;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
}
img:hover{
    width: 650px;
    transition: .3s;
}

.video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.header_links{
    display: inline-block;
    width: 300px;
    text-decoration: none;
    background-color: #F2B988;
    border-radius: 40px;
    transition: .3s;
    font-size: 2rem;
    text-shadow: #D95B5B 2px 3px;
}
.header_links:hover{
    line-height: 125px;
    width: 400px;
    transition: .3s;
    font-size: 2.9rem;
    text-shadow: #D95B5B 4px 6px;
}
.margin{
    margin: auto 300px;
}

.articles{
    height: 100vh;
    width: 100%;
}

.title{
    line-height: 100px;
    width: 100%;
    background-color: #9CCED9;
    text-align: center;
    
}

.art{
    display: inline-block;
    height: 439px;
    width: 30%;
    background-color: aquamarine;
    margin: 10px;
    vertical-align: bottom;
    position: relative;
    border-radius: 8px;
}
.container_articles{
    margin: auto;
    text-align: center;
}
.margin_2{
    margin: auto 20px;
}

.image{
    width: 600px;
    height: 400px;
    display: inline-block;
    margin: 15px 15px;
    border-radius: 10px;
    transition: .3s;
}
.image:hover{
    transform: rotate(180deg);
    transition: .7s;
}
.pic1{
    background: url(pics/pic1.jpg) 50%/cover;
}
.pic2{
     background: url(pics/pic2.jpg) 50%/cover;
}
.pic3{
    background: url(pics/pic3.jpg) 50%/cover;
}
.pic4{
    background: url(pics/pic4.jpg) 50%/cover;
}
.pic5{
    background: url(pics/pic5.jpg) 50%/cover;
}
.pic6{
    background: url(pics/pic6.jpg) 50%/cover;
}

.text{
    text-align: center;
    width: 500px;
    line-height: 300px;
    margin: auto;
    margin-top: 200px;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    color:  #FF9B83;
    text-shadow: #43457F 3px 4px;
    transition: .5s;
    background-color: #FEDA84;
    border-radius: 40px;
}
.text:hover{
    width: 700px;
    line-height: 500px;
    font-size: 4rem;
    text-shadow: #43457F 6px 7px;
    transition: .5s;
    border-radius: 60px;
    background-color: #05A696
}

/*copy from here*/
footer{
    width: 100%;
    height: 150px;
    background-color: #023A40; /*footer color*/
    text-align: center;
    margin: auto;
    display: flex;
}
footer> a{ /*yes, it's obligatory*/
    margin: auto;
    border-radius: 50%;
} /*yes, it's obligatory*/
.icons{
    height: 75px;
    width: 75px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: auto;
    transition: .5s;
    border-radius: 50%;
}
.icons:hover{
    height: 115px;
    width: 115px;
}
.vk{
    background-image: url(pics/vk-image.png)
}
.insta{
    background-image: url(pics/inst-image.png)
}
.github{
    background-image: url(pics/github-image.png)
}