@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    background-color: #4F7CAB;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    width: 474px;
    margin: 10% auto;
    font-size: 3rem;
    color: #f9ffc8;
    padding: 0px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 8px;
    padding: 8px;
    transition: .3s;
    text-shadow: #914A43 2px 5px;
}
h1:hover{
    margin: 10% auto;
    padding: 45px;
    transition: .3s;
    text-shadow: #914A43 10px 3px;
}